.authContainer {
  background: #fff;
  border-radius: 20px;
  margin: 5% 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.panel {
  border-radius: 20px;
}

.login-up-form {
  display: flex;
  flex-direction: column;
}

.header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.logo img {
  max-width: 50px;
  max-height: 50px;
}

.logo p {
  margin: 0 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 3rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authButton {
  background-color: #fff;
  border-radius: 20px;
  padding: 3px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  float: right;
  color: #fff;
}

.register {
  background: #36c510;
}

.login {
  background: #2781ff;
}

.authButton:hover {
  color: #fff;
  outline-offset: 0;
  text-decoration: none;
}

.register:hover {
  background: #36b510;
}

.login:hover {
  background: #2771ff;
}

.authButton:active {
  transform: scale(0.99);
}

input {
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  background-color: #f4f4f4;
  border-radius: 5px;
}

input .control-progress {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

label {
  margin-bottom: 0;
  font-weight: 500;
}

.authFormGroup {
  margin: 10px 20px 20px 20px !important;
  display: flex;
  align-items: center;
}

.pull-right {
  margin: 0 30px 20px 0;
}

.pull-right a {
  float: right !important;
}

.help-block {
  color: #f00;
}