* {
  font-family: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html, body {
  height: 100%;
  background: #fff;
}

.grid {
  min-height: 0;
  display: grid;
  grid-row-gap: 20px;
  grid-template-areas: "nav" "main";
  grid-template-rows: 80px 9fr;
  height: 100%;
}

.mainArea {
  grid-area: main;
  height: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px 20px;
  overflow-y: auto;
}

.scrollWrapper {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.scrollWrapper section {
  margin-right: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10% 10% 10%;
  height: 100%;
  text-align: center;
}

.formContainer {
  width: 30%;
}

.lead {
  margin: 10;
  text-align: center;
}

.serverLogo {
  margin: 8%;
  width: 200px;
}

.navArea {
  grid-area: nav;
  z-index: 1;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.brandWrapper {
  align-items: center;
  display: flex;
  width: 100%;
}

.register {
  margin-right: 0;
}

.login {
  margin-right: 0;
}

.icon {
  grid-area: icon;
  width: 50px;
  cursor: pointer;
}

.brand {
  margin: 0 5px;
  font-weight: 400;
  font-size: 20px;
}

.loginButton a {
  color: #0c89c6;
  text-decoration: none;
}

.profileSection {
  grid-area: dropdown;
  display: flex;
  align-items: center;
  padding-right: 2em;
  height: 100%;
}

.profileIcon {
  height: 64px;
  width: 64px;
  border: 5px solid #e5e5e5;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.username {
  letter-spacing: 0.2em;
  line-height: 21px;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  margin-left: 10px;
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.messageWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#message {
  font-size: 2rem;
  text-align: center;
  max-width: 40%;
}

.description {
  margin: 20px 15px;
}

.alert-danger {
  color: #f00;
  background: none;
  border-color: #fff;
}

.alert {
  margin-bottom: 0;
}

.actionButton {
  margin: 1em 0;
  background-color: #fff;
  border-radius: 20px;
  padding: .3em 1.5em;
  border: none;
  outline: none;
  cursor: pointer;
  float: right;
  color: #fff;
}

.blue{
  background: #2781ff;
}

.inputLabel {
  float: left;
}

@media (max-width: 800px) {
  .formContainer {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .grid {
    padding: initial;
    margin: initial;
  }
  .navArea {
    border: initial;
  }

  .profileSection {
    padding-right: initial;
  }

  .mainArea {
    border: initial;
    padding: initial;
  }
  .scrollWrapper section {
    padding: 1em;
  }

  .formContainer {
    width: initial;
  }
}