.mainArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20%;
    overflow-y: auto;
}

.grid {
    grid-row-gap: initial;
}

.formContainer {
    width: 100%
}

.headerWrapper {
    display: flex;
    align-items: flex-end;
}

.header {
    font-size: 1.8em;
    padding: initial;
}

.messageWrapper {
    display: flex;
    align-items: flex-end;
    height: initial;
    margin-bottom: 1em;
}

.message {
    width: 100%;
    font-size: 1.3em;
    font-weight: 300;
    text-align: left;
    margin-top: 1em;
}

.dataTypes {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.dataType {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: solid #c4c4c4 1px;
    border-radius: 20px;
    padding: 1em;
    margin-top: .5em;
}

.dataType:nth-child(0) {
    margin-top: 0;
}

.dataTypeName {
    font-size: 1.3em;
    font-weight: 300;
    margin-left: 2em;
}

.dataTypeIcon {
    height: 2.5em;
}

.dataTypeDescription {
    height: 66%;
    font-size: 1.3em;
    font-weight: 300;
}

.resources {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.resource {
    border: solid #c4c4c4 1px;
    border-radius: 20px;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
}

.resource:nth-child(1) {
    margin-top: 0;
}

.resourceDescription {
    display: flex;
}

.resourceIconWrapper {
    max-width: 1.5em;
}

.resourceIcon {
    margin: 2px 0 0;
    width: 100%;
}

.resourceName {
    margin-left: 1em;
    font-size: 1.3em;
}

.accessModes {
    display: flex;
    align-items: center;
}

.accessMode {
    display: flex;
}

.accessMode {
    display: flex;
}

.accessOption {
    height: 1.3em;
    width: 1.3em;
}

.accessOptionName {
    font-size: 1.3em;
    padding: 0 1em;
}

.submit {
    margin-top: 1em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media(max-width: 768px) {
    .mainArea {
        padding: 0 1em;
        justify-content: flex-start;
    }
    .resources {
        height: initial;
    }
    .resource {
        flex-flow: row wrap;
    }
}