<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
  <link rel="stylesheet" href="/common/css/solid.css">
  <link rel="stylesheet" href="/common/css/main.css">
  <link rel="stylesheet" href="/common/css/auth.css">
</head>

<body>
  <div class="pageWrapper">
    <div class="authContainer">
      <div class="header">
        <h1>Register</h1>
        <div class="logo">
          <img src="/favicon.ico" />
          <p class="provider"></p>
        </div>
      </div>
      {{#if registerDisabled}}
      {{> account/register-disabled}}
      {{else}}
      {{> account/register-form}}
      {{/if}}
    </div>
</body>
<script>
  const providerFields = document.getElementsByClassName('provider')
  for (var i = 0; i < providerFields.length; i++) {
    providerFields[i].innerHTML = location.host;
  }
</script>

</html>