<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
  <link rel="stylesheet" href="/common/css/solid.css">
  <link rel="stylesheet" href="/common/css/main.css">
  <link rel="stylesheet" href="/common/css/auth.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
</head>

<body>
  <div class="pageWrapper">
    <div class="authContainer">
      <div class="header">
        <h1>Login</h1>
        <div class="logo">
          <img src="https://owntech.de/favicon.ico" />
          <p class="provider"></p>
        </div>
      </div>
      {{> shared/error }}
      {{> auth/login-username-password}}
    </div>
  </div>
  <script>
    // Send return URL from localStorage to server through hidden redirect_uri field
    var returnToUrl = localStorage.getItem('returnToUrl')
    if (returnToUrl) {
      for (let redirect of document.getElementsByName('redirect_uri')) {
        redirect.value = returnToUrl
      }
    }
    localStorage.removeItem('returnToUrl')

    const locationUrl = location.href.split('/');
    locationUrl.shift();
    locationUrl.shift();

    const providerFields = document.getElementsByClassName('provider')
    const toRegisterFields = document.getElementsByClassName('to-register')

    for (var i = 0; i < providerFields.length; i++) {
      providerFields[i].innerHTML = locationUrl[0].split('.')[0].toLowerCase();
    }

    for (var i = 0; i < toRegisterFields.length; i++) {
      toRegisterFields[i].innerHTML = "New to " + locationUrl[0].split('.')[0] + "?";
    }
  </script>
</body>

</html>