<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Welcome to Solid</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/common/css/solid.css" />
  <link rel="stylesheet" href="/common/css/auth.css" />
  <link rel="stylesheet" href="/common/css/main.css" />
</head>

<body>
  <div class="grid">
    <div class="navArea">
      <div class="brandWrapper">
        <img onClick="location.href = location.origin" class="icon" src="/favicon.ico" />
        <div class="brand provider"></div>
      </div>
      <div class="profileSection">
        <a href="/register" class="authButton register">Register</a>
      </div>
    </div>
    <div class="mainArea">
      <div class="main">
        <form method="post" class="formContainer" action="/account/password/reset">
          {{> shared/error}}
          <p class="lead">Please enter your account name. A password reset link will be
            emailed to the address you provided during account registration.</p>
          {{#if multiuser}}
          <div class="formGroup">
            <label class="inputLabel" for="username">Account Name:</label>
            <input type="text" name="username" id="username" placeholder="alice" />
          </div>
          {{else}}
          <p>A password reset link will be
            emailed to the address you provided during account registration.</p>
          {{/if}}
          <button type="submit" class="actionButton blue">Send Reset Link</button>
          <input type="hidden" name="returnToUrl" value="{{{returnToUrl}}}" />
        </form>
      </div>
    </div>
  </div>
  <script src="/common/js/solid-auth-client.bundle.js"></script>
  <script src="/common/js/rdflib.min.js"></script>
  <script src="/common/js/main.js"></script>
</body>

</html>